show:not(:checked) ~ p { display: none }
body{height:100%;
   width:100%;
   background-image:url(images/clouds-1209444_960_720.jpg);
   background-repeat:no-repeat;
   background-size:cover;    
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}
p{
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: teal;
}

h3{
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: teal;
}