﻿<!doctype html>
<html ng-controller="Hello" ng-app="flightSearchEngine">
	<head>
		<title>Flights search engine</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/background.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		  <script>
		  $( function() {
			$( "#datepicker" ).datepicker();
		  } );
		  </script>
    	<script src="hello.js"></script>
	</head>
	<body>
		<div ng-controller="Hello">
			<p>The ID is {{allFlight[0].id}}</p>
			<p>The content is {{dupa}}</p>
		</div>
		<div class="container-fluid" >
			<h2>Flights search engine</h2>
			<p> </p>
			<label class="radio-inline"><input type="radio" name="optradioTrip"><i> Round trip</i></label>
			<label class="radio-inline"><input type="radio" name="optradioOneWay" checked><i> One way</i></label>
			<p> </p>
			<i>
			<form>
				<div class="form-group row">
				  <div class="col-md-3">
					<input class="form-control" id="departurePlace" ng-model="departureCity" type="text">
					<label for="departurePlace">Departure</label>
				  </div>
				  <div class="col-md-2">
					  <input type="text" class="datepicker" ng-model="arrivalDatePicked" id="arrivalDate">
					  <p align="center">Date</p>
				  </div>
				  <div class="col-md-3">
					<input class="form-control" id="arrivalPlace" ng-model="arrivalCity" type="text">
					<label for="arrivalPlace">Arrival</label>
				  </div>
				  <div class="col-md-2">
					  <input type="text" class="datepicker" ng-model="departureDatePicked" id="departureDate">
					  <p align="center">Date</p>
				  </div>
					<table ng-if="display" class = "table table-condensed table-striped" style="float:left">
						<thead>
							<tr>
								<td style="color:darkgreen">Departure date</td>
								<td style="color:darkgreen">Arrival date</td>
								<td style="color:darkgreen">Price</td>
							</tr>
						</thead>
						<tbody id="flightList">
							<tr ng-repeat="flight in flights">
								<td>{{flight.departureDate}}</td>
								<td>{{flight.arrivalDate}}</td>
								<td>{{flight.price}} {{flight.priceCode}} </td>
								<td ng-if="display">
									<button class="btn-info" ng-click="makeReservation(flight.id)" ng-model="query">Book</button>
								</td>
							</tr>
						</tbody>
					</table>
				  <div class="col-md-2">
					<button type="button" class="btn btn-info" ng-click="showFlights()">Search...</button>
				  </div>
				</div>
			</form>
			</i>
		</div>
		<h2>Administrator options</h2>
        <button class="btn-info" ng-click="changeDisplay()">Show/Hide</button>
        <div ng-if="display">
            <h3>Add new flight:</h3>
            <ng-form [name="newForm"]>
				<div class="form-group row">
				  <div class="col-md-3">
					<p>Airlines:<select class="form-control" type="text" ng-model="newFlight.newAirline">
						<option>Wizz Air</option>
						<option>Ryanair</option>
						<option>EasyJet</option>
						<option>Flybe</option>
						<option>JetBlue</option>
						<option>Eurowings</option>
					  </select>
					</p>
				  </div>
				  <div class="col-md-3">
					<p>Airplane:<input class="form-control" type="text" ng-model="newFlight.newAirplane" /></p>
				  </div>
				</div>
				<div class="form-group row">
				  <div class="col-md-3">
					<p>Price code:<select class="form-control" type="text" ng-model="newFlight.newPriceCode">
						<option>DKK</option>
						<option>EUR</option>
						<option>GBP</option>
						<option>MAD</option>
						<option>SEK</option>
						<option>PLN</option>
						<option>CZK</option>
						<option>CHF</option>
						<option>NOK</option>
					  </select>
					</p>
				  </div>
				  <div class="col-md-3">
					<p>Price:<input class="form-control" type="number" ng-model="newFlight.newPriceValue" /></p>
				  </div>
				</div>
				<p>Departure</p>
				<div class="form-group row">
				  <div class="col-md-3">
					<p>Airport:<select class="form-control" type="text" ng-model="newFlight.newDepartureAirport" />
						<option>Newcastle</option>
						<option>Copenhagen</option>
						<option>San Juan</option>
						<option>Edinburgh</option>
						<option>Billund</option>
						<option>Amsterdam</option>
						<option>Eilat</option>
						<option>Brive</option>
						<option>Vilnius</option>
						<option>Rome Fiumicino</option>
						<option>Rimini</option>
						<option>Kerry</option>
						<option>Tenerife South</option>
						<option>Olsztyn - Mazury</option>
						<option>Szczecin</option>
						<option>Nuremberg</option>
					  </select>
					</p>
				  </div>
				  <div class="col-md-3">
					<p>Date:<input class="form-control" type="date" ng-model="newFlight.newDepartureDate" /></p>
				  </div>
				</div>
				<p>Przylot</p>
				<div class="form-group row">
				  <div class="col-md-3">
					<p>Airport:<select class="form-control" type="date" ng-model="newFlight.newArrivalAirport">
					    <option>Newcastle</option>
						<option>Copenhagen</option>
						<option>San Juan</option>
						<option>Edinburgh</option>
						<option>Billund</option>
						<option>Amsterdam</option>
						<option>Eilat</option>
						<option>Brive</option>
						<option>Vilnius</option>
						<option>Rome Fiumicino</option>
						<option>Rimini</option>
						<option>Kerry</option>
						<option>Tenerife South</option>
						<option>Olsztyn - Mazury</option>
						<option>Szczecin</option>
						<option>Nuremberg</option>
					  </select>		
					</p>
				  </div>
				  <div class="col-md-3">
					<p>Date:<input class="form-control" type="date" ng-model="newFlight.newArrivalDate" /></p>
				  </div>
				</div>
                <button class="btn-info" ng-click="makeNewFlight()" ng-model="query">Add</button>
            </ng-form>
			
		<script>
			$(document).ready(function(){
			  $("#departurePlace").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#DIV *").filter(function() {
				  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			  });
			});
		</script>
	</body>
</html>